{{define "settings/xray"}}
<a-tab-pane key="3" tab='{{ i18n "pages.settings.xrayConfiguration"}}'>
    <a-tabs default-active-key="part-1" :class="themeSwitcher.darkCardClass" style="border-radius: 0; box-shadow: none;">
        <a-tab-pane key="part-1" tab='{{ i18n "pages.settings.templates.xrayConfigTemplate"}}'>
            <a-list item-layout="horizontal">
                <setting-list-item type="textarea" title='{{ i18n "pages.settings.templates.xrayConfigTemplate"}}' desc='{{ i18n "pages.settings.templates.xrayConfigTemplateDesc"}}' v-model="allSetting.xrayTemplateConfig"></setting-list-item>
            </a-list>
            <a-list item-layout="horizontal">
                <a-button icon="fire" type="primary" @click="resetXrayConfigToDefault">{{ i18n "pages.settings.resetXrayConfigTemp" }}</a-button>
            </a-list>
        </a-tab-pane>
      <a-tab-pane key="part-2" tab='{{ i18n "pages.settings.templates.basicTemplate"}}'>

          <a-tabs default-active-key="sec-1" :class="themeSwitcher.darkCardClass" style="border-radius: 0; box-shadow: none;">
            <a-tab-pane key="sec-1" tab='{{ i18n "pages.settings.templates.generalConfigs"}}'>
                <a-list item-layout="horizontal">
                    <a-row style="padding: 20px">
                        <a-col :lg="24" :xl="12">
                            <a-list-item-meta 
                                title='{{ i18n "pages.settings.templates.xrayConfigFreedomStrategy" }}'
                                description='{{ i18n "pages.settings.templates.xrayConfigFreedomStrategyDesc" }}'/>
                        </a-col>
                        <a-col :lg="24" :xl="12">
                            <template>
                                <a-select
                                    v-model="freedomStrategy"
                                    :dropdown-class-name="themeSwitcher.darkCardClass"
                                    style="width: 100%">
                                    <a-select-option v-for="s in outboundDomainStrategies" :value="s">[[ s ]]</a-select-option>
                                </a-select>
                            </template>
                        </a-col>
                    </a-row>
                </a-list>
                <a-list item-layout="horizontal">
                    <a-row style="padding: 20px">
                        <a-col :lg="24" :xl="12">
                            <a-list-item-meta 
                                title='{{ i18n "pages.settings.templates.xrayConfigRoutingStrategy" }}'
                                description='{{ i18n "pages.settings.templates.xrayConfigRoutingStrategyDesc" }}'/>
                        </a-col>
                        <a-col :lg="24" :xl="12">
                            <template>
                                <a-select
                                    v-model="routingStrategy"
                                    :dropdown-class-name="themeSwitcher.darkCardClass"
                                    style="width: 100%">
                                    <a-select-option v-for="s in routingDomainStrategies" :value="s">[[ s ]]</a-select-option>
                                </a-select>
                            </template>
                        </a-col>
                    </a-row>
                </a-list>
            </a-tab-pane>

            <a-tab-pane key="sec-2" tab='{{ i18n "pages.settings.templates.blockConfigs"}}'>
                <a-list item-layout="horizontal">
                    <setting-list-item type="switch" title='{{ i18n "pages.settings.templates.xrayConfigTorrent"}}' desc='{{ i18n "pages.settings.templates.xrayConfigTorrentDesc"}}' v-model="torrentSettings"></setting-list-item>
                    <setting-list-item type="switch" title='{{ i18n "pages.settings.templates.xrayConfigPrivateIp"}}' desc='{{ i18n "pages.settings.templates.xrayConfigPrivateIpDesc"}}' v-model="privateIpSettings"></setting-list-item>
                    <setting-list-item type="switch" title='{{ i18n "pages.settings.templates.xrayConfigAds"}}' desc='{{ i18n "pages.settings.templates.xrayConfigAdsDesc"}}' v-model="AdsSettings"></setting-list-item>
                    <setting-list-item type="switch" title='{{ i18n "pages.settings.templates.xrayConfigFamily"}}' desc='{{ i18n "pages.settings.templates.xrayConfigFamilyDesc"}}' v-model="familyProtectSettings"></setting-list-item>
                </a-list>
            </a-tab-pane>

            <a-tab-pane key="sec-3" tab='{{ i18n "pages.settings.templates.blockCountryConfigs"}}'>
                <a-list item-layout="horizontal">
                    <setting-list-item type="switch" title='{{ i18n "pages.settings.templates.xrayConfigBlockIran"}}' desc='{{ i18n "pages.settings.templates.xrayConfigBlockIranDesc"}}' v-model="BlockIranSettings"></setting-list-item>
                    <setting-list-item type="switch" title='{{ i18n "pages.settings.templates.xrayConfigBlockChina"}}' desc='{{ i18n "pages.settings.templates.xrayConfigBlockChinaDesc"}}' v-model="BlockChinaSettings"></setting-list-item>
                    <setting-list-item type="switch" title='{{ i18n "pages.settings.templates.xrayConfigBlockRussia"}}' desc='{{ i18n "pages.settings.templates.xrayConfigBlockRussiaDesc"}}' v-model="BlockRussiaSettings"></setting-list-item>
                </a-list>
            </a-tab-pane>

            <a-tab-pane key="sec-4" tab='{{ i18n "pages.settings.templates.directCountryConfigs"}}'>
                <a-list item-layout="horizontal">
                    <setting-list-item type="switch" title='{{ i18n "pages.settings.templates.xrayConfigDirectIran"}}' desc='{{ i18n "pages.settings.templates.xrayConfigDirectIranDesc"}}' v-model="IranDirectSettings"></setting-list-item>
                    <setting-list-item type="switch" title='{{ i18n "pages.settings.templates.xrayConfigDirectChina"}}' desc='{{ i18n "pages.settings.templates.xrayConfigDirectChinaDesc"}}' v-model="ChinaDirectSettings"></setting-list-item>
                    <setting-list-item type="switch" title='{{ i18n "pages.settings.templates.xrayConfigDirectRussia"}}' desc='{{ i18n "pages.settings.templates.xrayConfigDirectRussiaDesc"}}' v-model="RussiaDirectSettings"></setting-list-item>
                </a-list>
            </a-tab-pane>

            <a-tab-pane key="sec-5" tab='{{ i18n "pages.settings.templates.ipv4Configs"}}'>
                <a-list item-layout="horizontal">
                    <setting-list-item type="switch" title='{{ i18n "pages.settings.templates.xrayConfigGoogleIPv4"}}' desc='{{ i18n "pages.settings.templates.xrayConfigGoogleIPv4Desc"}}' v-model="GoogleIPv4Settings"></setting-list-item>
                    <setting-list-item type="switch" title='{{ i18n "pages.settings.templates.xrayConfigNetflixIPv4"}}' desc='{{ i18n "pages.settings.templates.xrayConfigNetflixIPv4Desc"}}' v-model="NetflixIPv4Settings"></setting-list-item>
                </a-list>
            </a-tab-pane>
            </a-tabs>
        </a-tab-pane>
        <a-tab-pane key="part-3" tab='{{ i18n "pages.settings.templates.advancedTemplate"}}'>
            <a-list item-layout="horizontal">
                <a-collapse>
                    <a-collapse-panel header='{{ i18n "pages.settings.templates.xrayConfigInbounds"}}'>
                        <setting-list-item type="textarea" title='{{ i18n "pages.settings.templates.xrayConfigInbounds"}}' desc='{{ i18n "pages.settings.templates.xrayConfigInboundsDesc"}}' v-model="inboundSettings"></setting-list-item>
                    </a-collapse-panel>
                </a-collapse>
            </a-list>
            <a-list item-layout="horizontal">
                <a-collapse>
                    <a-collapse-panel header='{{ i18n "pages.settings.templates.xrayConfigOutbounds"}}'>
                        <setting-list-item type="textarea" title='{{ i18n "pages.settings.templates.xrayConfigOutbounds"}}' desc='{{ i18n "pages.settings.templates.xrayConfigOutboundsDesc"}}' v-model="outboundSettings"></setting-list-item>
                    </a-collapse-panel>
                </a-collapse>
            </a-list>
            <a-list item-layout="horizontal">
                <a-collapse>
                    <a-collapse-panel header='{{ i18n "pages.settings.templates.xrayConfigRoutings"}}'>
                        <setting-list-item type="textarea" title='{{ i18n "pages.settings.templates.xrayConfigRoutings"}}' desc='{{ i18n "pages.settings.templates.xrayConfigRoutingsDesc"}}' v-model="routingRuleSettings"></setting-list-item>
                    </a-collapse-panel>
                </a-collapse>
            </a-list>
        </a-tab-pane>

        <a-tab-pane key="part-4" tab='{{ i18n "pages.settings.templates.manualLists"}}'>
            <a-tabs default-active-key="manual-1" :class="themeSwitcher.darkCardClass" style="border-radius: 0; box-shadow: none;">
                <a-tab-pane key="manual-1" tab='{{ i18n "pages.settings.templates.IPv4Domains"}}'>
                    <a-list item-layout="horizontal">
                        <setting-list-item type="textarea" title='{{ i18n "pages.settings.templates.manualIPv4Domains"}}' desc='{{ i18n "pages.settings.templates.manualListsDesc"}}' v-model="manualIPv4Domains"></setting-list-item>
                    </a-list>
                </a-tab-pane>
                <a-tab-pane key="manual-2" tab='{{ i18n "pages.settings.templates.BlockedIPsDomains"}}'>
                    <a-list item-layout="horizontal">
                        <setting-list-item type="textarea" title='{{ i18n "pages.settings.templates.manualBlockedIPs"}}' desc='{{ i18n "pages.settings.templates.manualListsDesc"}}' v-model="manualBlockedIPs"></setting-list-item>
                        <setting-list-item type="textarea" title='{{ i18n "pages.settings.templates.manualBlockedDomains"}}' desc='{{ i18n "pages.settings.templates.manualListsDesc"}}' v-model="manualBlockedDomains"></setting-list-item>
                    </a-list>
                </a-tab-pane>
                <a-tab-pane key="manual-3" tab='{{ i18n "pages.settings.templates.DirectIPsDomains"}}'>
                    <a-list item-layout="horizontal">
                        <setting-list-item type="textarea" title='{{ i18n "pages.settings.templates.manualDirectIPs"}}' desc='{{ i18n "pages.settings.templates.manualListsDesc"}}' v-model="manualDirectIPs"></setting-list-item>
                        <setting-list-item type="textarea" title='{{ i18n "pages.settings.templates.manualDirectDomains"}}' desc='{{ i18n "pages.settings.templates.manualListsDesc"}}' v-model="manualDirectDomains"></setting-list-item>                    
                    </a-list>
                </a-tab-pane>
            </a-tabs>
        </a-tab-pane>

    </a-tabs>
  </a-tab-pane>
{{end}}